<main>
    <img src="../../assets/images/coat-of-arms.png">
    <form (ngSubmit)="onSubmit()" *ngIf="!authenticated" [formGroup]="loginForm">
        <!-- <label for="username">CMDR NAME</label> -->
        <mat-form-field>
            <input type="text" placeholder="CMDR NAME" formControlName="username" matInput name="username">
        </mat-form-field>

        <!-- <label for="password">PASSWORD</label> -->
        <mat-form-field>
            <input type="password" placeholder="PASSWORD" formControlName="password" matInput name="password">
        </mat-form-field>

        <button type="submit" mat-raised-button>Login</button>
    </form>
</main>