:host {
    flex: 1 0 auto;
}

main {  
    position: absolute;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    // min-height: 100%;
}

img {
    max-width: 60%;
}

form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    flex: 0 1 auto;
    width: 50%;
    margin-bottom: 1em;
}

label {
    clear: both;
    margin-top: 1rem;
}

// button {
//     margin-top: 0.7rem;
//     text-transform: uppercase;
//     font: inherit;
//     border: none;
//     background-color: #fff;
// }
input {
    margin-top: 0.7rem;
}