.ships {
    text-align: center;
    .subtext {
        font-size: 0.7rem;
    }
    .header-text {
        font-size: 6rem;
        margin: 0;
    }
    .mat-expansion-panel-header-title,
    .mat-expansion-panel-header-description {
        flex-basis: 0;
    }
    .mat-expansion-panel-header-description {
        justify-content: space-between;
        align-items: center;
    }
    .mat-expansion-panel-header {
        font-size: 0.8rem;
        text-transform: uppercase;
    }
}