<form [formGroup]="settingsForm">
    <fieldset>
        <legend>Toggles</legend>
        <mat-slide-toggle formControlName="broadcasts" (change)="slideToggleChange($event, AppSetting.broadcasts)">Broadcasts</mat-slide-toggle>
    </fieldset>
    <fieldset>
        <legend>Inara</legend>
        <mat-form-field>
            <input matInput formControlName="inaraAPIKey" type="text" placeholder="API Key">
        </mat-form-field>
        <mat-slide-toggle formControlName="inaraBroadcasts" (change)="slideToggleChange($event,AppSetting.inaraBroadcasts)">Enable</mat-slide-toggle>
    </fieldset>
</form>