ul {
    list-style: none;
    padding: 0;
}

.panels {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;

    .panel {
        flex: 1 0 50%;
        text-align: center;
    }
}