ul {
    list-style: none;
    padding: 0;
}

.tracking-faction-container {
    display: flex;
    flex-flow: column nowrap;
}

.panels {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;

    .panel {
        flex: 1 0 50%;
        text-align: center;
    }
}

.icon-container {
    width: 1.8em;
    height: 1.8em;
    vertical-align: middle;
    
    &.png-icon {
        display: flex;
        align-items: center;   
    }
}