
<h2>Welcome back {{cmdrName}}</h2>
<p><small>Current system: {{currentSystem | async}}</small></p>
<div class="tracking-faction-container">
    <mat-form-field>
        <input type="text" matInput [formControl]="trackingFaction" [matAutocomplete]="autoCompleteFaction" placeholder="Your Faction">
    </mat-form-field>
    <mat-autocomplete #autoCompleteFaction="matAutocomplete">
        <mat-option *ngFor="let faction of filteredKnownFactions | async" [value]="faction.Name">{{faction.Name}}</mat-option>
    </mat-autocomplete>
</div>

<section class="panels">
    <app-missions class="panel" [trackingFaction]="trackingFaction.value"></app-missions>
    <app-combat class="panel" [trackingFaction]="trackingFaction.value"></app-combat>
    <app-exploration class="panel"></app-exploration>
</section>
<router-outlet></router-outlet>