<main>
    <p class="back-to-login">
        <a routerLink="/login">BACK TO LOGIN</a>
    </p>
    <form [formGroup]="registrationForm" (ngSubmit)="submit()">
        <mat-form-field>
            <input #username matInput id="username" name="username" type="text" placeholder="Username" formControlName="username" maxlength="20"
                required>
            <span matPrefix>CMDR&nbsp;</span>
            <mat-hint>[{{username.value.length}}/20]</mat-hint>
            <mat-error *ngIf="registrationForm.get('username').hasError('usernameTaken')">That username is taken</mat-error>
            <mat-error *ngIf="registrationForm.get('username').hasError('required')">Please provide a username</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input #password matInput id="password" name="password" [type]="hidepw ? 'password' : 'text'" formControlName="password" placeholder="Password"
                maxlength="30" minlength="8" required>
            <mat-error *ngIf="registrationForm.get('password').hasError('required')">Please provide a password</mat-error>
            <mat-error *ngIf="registrationForm.get('password').hasError('minlength')">Passwords must be at least 8 characters long</mat-error>
            <mat-error *ngIf="registrationForm.get('password').hasError('maxlength')">Passwords must be no more than 30 characters long</mat-error>
            <mat-icon matSuffix (click)="hidepw = !hidepw">{{hidepw ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

        <mat-form-field>
            <input #confirmpassword matInput id="confirmpassword" name="confirmpassword" [type]="hideconfirmpw ? 'password' : 'text'" formControlName="confirmpassword"
                placeholder="Confirm password" required>
            <mat-icon matSuffix (click)="hideconfirmpw = !hideconfirmpw">{{hideconfirmpw ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="registrationForm.get('confirmpassword').hasError('required')">Please provide a password</mat-error>
            <mat-error *ngIf="registrationForm.get('confirmpassword').hasError('nomatch')">The passwords do not match</mat-error>
            <mat-error *ngIf="registrationForm.get('confirmpassword').hasError('minlength')">Passwords must be at least 8 characters long</mat-error>
            <mat-error *ngIf="registrationForm.get('confirmpassword').hasError('maxlength')">Passwords must be no more than 30 characters long</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input #email matInput id="email" name="email" type="email" formControlName="email" placeholder="Email" required>
            <mat-error *ngIf="registrationForm.get('email').hasError('required')">Please provide an email</mat-error>
            <mat-error *ngIf="registrationForm.get('email').hasError('email')">Please provide a valid email address</mat-error>
            <mat-error *ngIf="registrationForm.get('email').hasError('emailTaken')">That e-mail is already registered</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input #confirmemail matInput id="confirmemail" name="confirmemail" type="email" formControlName="confirmemail" placeholder="Confirm email"
                required>
            <mat-error *ngIf="registrationForm.get('confirmemail').hasError('required')">Please provide an email</mat-error>
            <mat-error *ngIf="registrationForm.get('confirmemail').hasError('email')">Please provide a valid email address</mat-error>
            <mat-error *ngIf="registrationForm.get('confirmemail').hasError('nomatch')">The emails do not match</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Continent" formControlName="continent" required>
                <mat-option *ngFor="let continent of continents | async" [value]="continent">
                    {{continent | titlecase}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="registrationForm.get('continent').hasError('required')">Please tell us what continent you're on</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Platform" formControlName="platform" required>
                <mat-option *ngFor="let platform of platforms | async" [value]="platform">
                    {{platform | uppercase}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="registrationForm.get('platform').hasError('required')">Please tell us your main platform</mat-error>

        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="In-game role" formControlName="gamerole" required>
                <mat-option *ngFor="let gamerole of gameroles | async" [value]="gamerole">
                    {{gamerole | titlecase}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="registrationForm.get('gamerole').hasError('required')">Please tell us your prefered play-style</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input #shipname matInput id="shipname" name="shipname" type="text" placeholder="Primary ship name" formControlName="shipname"
                maxlength="30">
            <mat-hint>[{{shipname.value.length}}/30]</mat-hint>
            <mat-error *ngIf="registrationForm.get('shipname').hasError('maxlength')">Ship names can be no longer than 30 characters</mat-error>
        </mat-form-field>

        <mat-form-field>
            <textarea #bio matInput name="bio" id="bio" formControlName="bio" placeholder="Bio" maxlength="1000"></textarea>
            <mat-hint>Tell us about your character [{{bio.value.length}}/1000]</mat-hint>
            <mat-error *ngIf="registrationForm.get('bio').hasError('maxlength')">Please keep your bio to a maximum of 1000 characters</mat-error>
        </mat-form-field>

        <mat-form-field>
            <textarea #reasontojoin matInput name="reasontojoin" id="reasontojoin" formControlName="reasontojoin" placeholder="Reason for joining"
                maxlength="150"></textarea>
            <mat-hint>This is not used to filter entrants [{{reasontojoin.value.length}}/150]</mat-hint>
            <mat-error *ngIf="registrationForm.get('reasontojoin').hasError('maxlength')">Please keep your reason to a maximum of 150 characters</mat-error>
        </mat-form-field>

        <button type="submit" mat-raised-button>SUBMIT</button>
    </form>

</main>